.cover {
  height: 600px;
  background-image: url(/images/imgcover.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 150px 0 100px;
  border: 1px solid white;
}
.cover__container {
  width: 90%;
  margin: auto;
  border: 1px solid white;
}
.cover__title {
  font-size: 96px;
  line-height: 96px;
  width: 90%;
  border: 1px solid white;
}
.cover__subtitle {
  font-size: 25px;
  width: 90%;
  margin-top: 50px;

  border: 1px solid white;
}
