.main {
  padding: 90px 0;
  background-color: #fff;
  border: 1px solid black;
}
.main__colums {
}
.main__column {
}
.main__column-image {
}
.main__column-image-cielouno {
}
.main__column-image-cielodos {
}
.main__column-image-cielotres {
}
.main__column-description {
}
.main__column-title {
}
.main__column-quote {
}
.main__column-text {
}
.main__column-share {
}
.main__column-share-text {
}
.main__column-share-icon {
}
